@import url('https://fonts.googleapis.com/css2?family=Hubot+Sans:ital,wght@0,200..900;1,200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
    font-family: Neue;
    src: url("/aesthetic.ttf");
}
*{
    font-family: Neue, sans-serif;
    /* font-family: "Faculty Glyphic", sans-serif; */
}
.stok{
    -webkit-text-stroke: 1px #3B0A42;
    -webkit-text-fill-color: transparent;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

